/.vs/BookStore.Api/CopilotIndices/17.12.38.29086
/.vs/BookStore.Api
/BookStore.Api/bin/Debug/net8.0
/BookStore.Api/obj/Debug/net8.0
/Test_MSUnit/bin/Debug/net8.0
/Test_MSUnit/obj/Debug/net8.0
/Test_NUnit/bin/Debug/net8.0
/Test_NUnit/obj/Debug/net8.0
/Test_NUnit/obj
/Test_XUnit/bin/Debug/net8.0
/Test_XUnit/obj/Debug/net8.0
/Test_XUnit/obj
/Test_MSUnit/obj
/BookStore.Api/obj
